<link rel="apple-touch-icon" sizes="180x180" href="images/S.svg">
<link rel="icon" type="image/png" sizes="32x32" href="images/S.svg">
<link rel="icon" type="image/png" sizes="16x16" href="images/S.svg">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<!-- Additional SEO Meta Tags -->
<meta name="keywords" content="Biao Sun,Alibaba,Alibaba Cloud,Beihang University,BUAA,South China University of Technology,SCUT,Qwen,PAI,Llumnix,EasyCkpt,OSDI,LLM serving,LLM inference,孙彪,阿里,阿里云,北航,北京航空航天大学,华工,华南理工大学,千问,通义,大模型服务,大模型推理">
<meta name="author" content="Biao Sun (孙彪)">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="global">
<meta name="rating" content="general">

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
